*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header__logo {
  margin-right: 76px;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.header__logo_black {
  margin-right: 0;
}
.header__login {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 46px;
  margin-left: auto;
}
.header__login-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.2px;
}

.section {
  position: relative;
}
.section_hero {
  padding-top: 226px;
  padding-bottom: 96px;
  background: url("../img/herobg.jpg") no-repeat center/auto, rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.section_brand {
  margin-top: 134px;
}
.section_subscribe {
  margin-top: 71px;
}
.section_subscribe .title {
  color: #fff;
}
.section_booking {
  margin-top: 112px;
  background: #252B42;
}

.wrap {
  max-width: 1046px;
  width: 100%;
  margin: 0 auto;
}
.wrap_header {
  max-width: 1080px;
  padding-top: 21px;
  padding-left: 16px;
  padding-right: 23px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #FFFFFF;
}
.wrap_mobile {
  display: none;
}
.wrap_features {
  margin-top: 300px;
  margin-bottom: 96px;
}
.wrap_review {
  padding: 112px 16px;
  margin-bottom: 85px;
  text-align: center;
}
.wrap_subscribe {
  max-width: 1047px;
}
.wrap_booking {
  position: relative;
  padding-bottom: 479px;
}
.wrap_footer {
  max-width: 1051px;
  width: 100%;
  padding-right: 36px;
}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
  list-style-type: none;
}
.nav__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: currentColor;
}

.btn {
  background-color: #23A6F0;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 21px 15px 25px;
}
.btn:hover {
  background-color: #08507a;
}
.btn_hero {
  display: inline-block;
  padding: 15px 36px;
  border-radius: 37px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  border: 1px solid #FFFFFF;
  background: transparent;
  margin-right: 5px;
}
.btn_hero:hover {
  background: #23A6F0;
  border: none;
}
.btn_hero:last-child {
  margin-right: 0;
}
.btn_header {
  display: flex;
  align-items: center;
  gap: 17px;
  padding-right: 22px;
  padding-top: 13px;
  padding-bottom: 15px;
}
.btn__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.2px;
}
.btn__icon {
  width: 12px;
  height: 10px;
  display: inline-block;
  background: url("../img/Vector.png") no-repeat center right;
}
.btn_card {
  display: block;
  padding: 14px 21px 14px 25px;
}
.btn_footer {
  padding: 15px 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-submit {
  background-color: #23A6F0;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 21px 15px 25px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
}
.btn-submit:hover {
  background-color: #08507a;
}
.btn-submit_email {
  padding: 15px 28px 15px 23px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 0;
}
.btn-submit_booking {
  font-weight: 700;
  line-height: 22px;
  margin-top: 33px;
  width: 100%;
}

.hero__desc {
  max-width: 701px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 120px;
  text-align: center;
}
.hero__text {
  margin: 39px auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  padding-right: 2px;
}
.hero__box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: -108px;
}

.title {
  color: #252B42;
  font-style: normal;
}
.title_big {
  color: #fff;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
.title_medium {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.title_small {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}
.title_minimal {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.block {
  background: #fff;
  color: #252B42;
  padding: 35px 63px 37px 41px;
  max-width: 328px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.block__title {
  margin-top: 7px;
  margin-bottom: 10px;
  line-height: 29px;
}
.block__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.2px;
  color: #737373;
}

.block:hover {
  background: #23A6F0;
  color: #FFFFFF;
}

.block:hover .block__logo-svg #logo-svg {
  fill: #FFF;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}
.features__content {
  max-width: 328px;
  width: 100%;
  text-align: center;
  padding: 40px 45.5px;
}
.features__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-top: 26px;
}
.features__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
}

.review {
  text-align: center;
}
.review__title {
  margin-bottom: 10px;
}
.review__desc {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0 auto;
}
.review__row {
  display: flex;
  flex-wrap: wrap;
  gap: 63px;
  justify-content: center;
  max-width: 1013px;
  width: 100%;
  margin-top: 80px;
}

.unit {
  max-width: 295px;
  width: 100%;
  padding: 38px 38px 40px 38px;
  border: 1px solid #DEDEDE;
}
.unit__img {
  width: 149px;
  height: 149px;
  margin: 0 auto;
}
.unit__text {
  margin-top: 29px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.rating {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  max-width: 131px;
  width: 100%;
  margin: 0 auto;
}
.rating__item {
  width: 22px;
  height: 22px;
  background: url(../img/empty-star.png);
}
.rating__item.is-active {
  background: url(../img/fill-star.png);
}

.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.brand__img-link {
  width: 151px;
}
.brand__img-link_hooli {
  width: 153px;
  height: 34px;
  padding: 0 27px 0 25px;
}
.brand__img-link_lyft {
  width: 146px;
  height: 59px;
  padding: 0 31px 0 31px;
}
.brand__img-link_pied {
  width: 152px;
  height: 75px;
  padding: 0 25px 0 25px;
}
.brand__img-link_stripe {
  height: 42px;
  padding: 0 20px 0 26px;
  width: 148px;
}
.brand__img-link_aws {
  height: 62px;
  padding: 0 18px 0 27px;
}
.brand__img-link_reddit {
  height: 72px;
  padding: 0 32px 0 42px;
}

.subscribe {
  background: linear-gradient(to right, #004788, #D71489);
  padding: 32px 41px 28px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 246px;
  margin-bottom: 132px;
}
.subscribe__email {
  max-width: 450px;
  width: 100%;
}

.email {
  display: flex;
  border-radius: 5px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
.email__input {
  width: 100%;
  border: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 20px;
  letter-spacing: 1.3px;
}

.pricing {
  text-align: center;
}
.pricing__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
  margin-bottom: 80px;
}
.pricing__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: center;
}

.card {
  margin-top: 40px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #23A6F0;
  border-radius: 10px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
  font-weight: 700;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
}
.card__desc {
  margin: 35px auto;
  max-width: 165px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}
.card__prise {
  margin-top: 35px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #23A6F0;
}
.card__cost {
  font-size: 40px;
  line-height: 57px;
}
.card__element {
  text-align: left;
}
.card__value {
  font-size: 16px;
  letter-spacing: 0.1px;
}
.card__time {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #8EC2F2;
}
.card__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.card__item:last-child {
  margin-bottom: 0;
}
.card__option {
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.2px;
}
.card__list {
  text-align: left;
  margin-top: 31px;
}
.card__select {
  width: 32px;
  height: 32px;
  background: #BDBDBD;
  border-radius: 200px;
  position: relative;
}
.card__select svg {
  position: absolute;
  top: 12px;
  left: 7px;
}
.card__select.is-active {
  background: #2DC071;
}
.card__link {
  margin-top: 35px;
}
.card_color {
  margin-top: 0;
  background: #252B42;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}
.card_color .title {
  color: #fff;
}
.card_color .card__desc {
  color: #fff;
}
.card_small {
  max-width: 327px;
  width: 100%;
}
.card_big {
  max-width: 329px;
  width: 100%;
}

.booking {
  text-align: center;
}
.booking__holder {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
.booking .title_medium {
  color: #FFFFFF;
}
.booking__desc {
  max-width: 455px;
  width: 100%;
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.booking__card {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  max-width: 877px;
  width: 100%;
  position: absolute;
  left: 85px;
  bottom: 0;
  margin-bottom: -283px;
}
.booking__card-pic_mobile {
  display: none;
}
.booking__box {
  padding: 40px 50px;
  max-width: 610px;
  width: 100%;
}
.booking__box .title_small {
  font-size: 23px;
}
.booking__form {
  text-align: left;
  margin-top: 40px;
}
.booking__item {
  margin-bottom: 10px;
}
.booking__item:last-of-type {
  margin-bottom: 0;
}
.booking__input-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}
.booking__input {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 21px;
  max-width: 507px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
.booking select {
  padding-top: 18px;
  padding-bottom: 11px;
  padding-left: 15px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.icon_phone {
  background: url(../img/phone.png);
}
.icon_maps {
  background: url(../img/maps.png);
  height: 30px;
}
.icon_mail {
  background: url(../img/mail.png);
  width: 26px;
}

.footer {
  margin-top: 455px;
}
.footer__subtitle {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}
.footer__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}
.footer__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.footer__column .title {
  margin-bottom: 20px;
}
.footer__column_company {
  padding-right: 31px;
}
.footer__column_legal {
  padding-right: 52px;
}
.footer__column_features {
  padding-right: 1px;
}
.footer__column_resourses {
  padding-right: 42px;
}
.footer__column_get {
  padding-right: 0;
}
.footer__list {
  list-style-type: none;
}
.footer__item {
  margin-bottom: 10px;
}
.footer__item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.footer__item-link_contact {
  display: flex;
  gap: 1px;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer__contact {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #737373;
}
.footer__social-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 67px;
  padding-right: 6px;
}
.footer__social-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.footer__social-pictures {
  display: flex;
  gap: 20px;
}
.footer__social-img_mobile {
  display: none;
}

@media screen and (max-width: 1010px) {
  .hero__box {
    position: static;
  }
  .pricing__cards {
    justify-content: center;
  }
  .booking__card {
    position: static;
  }
}
@media screen and (max-width: 416px) {
  .header__logo.is-active {
    color: #252B42;
  }
  .header.is-active {
    background-color: #fff;
    height: 100vh;
  }
  .section, .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section_hero {
    background-size: cover;
    padding-bottom: 250px;
  }
  .section_brand {
    margin-top: 80px;
  }
  .section_booking {
    padding-left: 0px;
    padding-right: 0px;
  }
  .wrap_header {
    display: none;
  }
  .wrap_mobile {
    display: block;
  }
  .wrap_features {
    margin-top: 0;
  }
  .wrap_review {
    padding-top: 10px;
  }
  .wrap_subscribe {
    margin-bottom: 45px;
  }
  .wrap_booking {
    padding-bottom: 293px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .icon_search {
    background: url(../img/search.png);
    margin-right: 24px;
  }
  .icon_basket {
    background: url(../img/basket.png);
    height: 22px;
    margin-right: 32px;
  }
  .icon_burger {
    background: url(../img/menu.png) no-repeat;
    height: 14px;
  }
  .logo-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 37px 30px 0px 36px;
  }
  .logo-row__list {
    display: flex;
    align-items: center;
  }
  .logo-row__item {
    list-style-type: none;
  }
  .nav-mobile {
    display: none;
  }
  .nav-mobile.is-active {
    display: block;
  }
  .nav-mobile__list {
    text-align: center;
  }
  .nav-mobile__link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .title {
    color: #252B42;
    font-style: normal;
  }
  .title_big {
    color: #fff;
    font-weight: 700;
    font-size: 39px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
  .hero__desc .title {
    padding-right: 34px;
    padding-left: 34px;
  }
  .hero__text {
    max-width: 279px;
    width: 100%;
  }
  .hero__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .brand {
    flex-direction: column;
    gap: 60px;
  }
  .subscribe {
    gap: 30px;
    text-align: center;
  }
  .pricing__desc {
    max-width: 271px;
    width: 100%;
    margin: 0 auto 60px;
  }
  .pricing .card_big {
    margin-top: 40px;
  }
  .booking__holder {
    margin-bottom: 110px;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 120px;
  }
  .booking__desc-wrap {
    margin-bottom: 120px;
  }
  .booking__card-pic {
    display: none;
  }
  .booking__card-pic_mobile {
    display: block;
  }
  .footer {
    padding-left: 87px;
    margin-top: 40px;
  }
  .footer__subtitle {
    padding-right: 90px;
    margin-bottom: 50px;
  }
  .footer__menu {
    flex-direction: column;
  }
  .footer__social-row {
    gap: 50px;
  }
  .footer__social-pictures {
    align-items: baseline;
  }
  .footer__social-img {
    display: none;
  }
  .footer__social-img_mobile {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */