*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
}

.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    &__logo {
        margin-right: 76px;
        color: currentColor;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
    }
}

.wrap {
    max-width: 1046px;
    width: 100%; 
    margin: 0 auto;
    &_header {
        max-width: 1080px;
        padding-top: 33px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: #FFFFFF;
    }
    &_features {
        margin-bottom: 96px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 31px;
    }
    &_review {
        padding: 112px 16px;
        margin-bottom: 85px;
        text-align: center;
    }
    &_brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 58px;
        padding-bottom: 58px;
    }
    &_btn-form {
        max-width: 1047px;
        background: linear-gradient(to right,#004788, #D71489);
        padding: 30px 41px 30px 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 240px;
        margin-bottom: 132px;
    }
}

.nav {
    margin-right: 227px;
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 21px;
        list-style-type: none;
    }
    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        text-decoration: none;
        color: currentColor;
    }
}

.login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.2px;
    }
}


.btn {
    background-color: #23A6F0;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 21px 15px 25px;

    &:hover {
        background-color: #08507a;
    }
    &_login {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-right: 21px;
    }

    &__name {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.2px;
    }

    &__icon {
        width: 12px;
        height: 10px;
        display: inline-block;
        background: url('../img/Vector.png') no-repeat center right;
    }
    &_email-form {
        padding: 15px 22.5px;
        background-color: #23A6F0;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        border-radius: 0;
    }
    &_card {
        padding: 15px 82px;
        display: block;
    }
}



.section {
    position: relative;
    &_hero {
        padding-top: 226px;
        padding-bottom: 105px;
        background: url('../img/herobg.jpg') no-repeat center / cover,
        rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    }
    &_btn-form {
        .title {
            color: #fff;
        }
    }
}

.hero-desc {
    max-width: 701px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
    text-align: center;
    &__text {
        max-width: 539px;
        margin: 40px auto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    &__btns {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}

.title {
    color: #252B42;
    font-style: normal;
    &_big {
        color: #fff;
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
    }
    &_medium {
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
    }
    &_small {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        text-transform: capitalize;
    }
}

.btn__link {
    padding: 15px 36px;
    border-radius: 37px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background: transparent;
    &:hover {
        background: #23A6F0;
        border: none;
    }
}

.hero-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: -115px;
}

.block {
    background: #fff;
    color: #252B42;
    padding: 35px 67px 35px 40px;
    max-width: 328px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    &__title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
    }
}

.block:hover {
    background: #23A6F0;
    color: #FFFFFF;
}

.block:hover .block__logo-svg #logo-svg{
    fill: #FFF;
}

// Features styles start


.features-content {
    margin-top: 176px;
    max-width: 328px;
    width: 100%;
    text-align: center;
    padding: 40px 45.5px;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252B42;
        margin-top: 30px;
    }
    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
        margin-top: 10px;
    }

}

.review {
    &__title {
        margin-bottom: 10px;
    }
    &__desc {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
        max-width: 470px;
        width: 100%;
        margin: 0 auto;
    }
}

.review-row {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    justify-content: center;
    max-width: 1013px;
    width: 100%;
    margin: 80px auto 0;
}

.review-block {
    max-width: 295px;
    width: 100%;
    padding: 40px 35px;
    border: 1px solid #DEDEDE;
    &__img {
        width: 149px;
        height: 149px;
        margin: 0 auto;
    }
    &__text {
        margin-top: 30px;
        margin-bottom: 10px;font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
    }
}

.rating {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    max-width: 131px;
    width: 100%;
    margin: 0 auto;
    &__item {
        width: 22px;
        height: 22px;
        background: url(../img/empty-star.png);
    }
    &__item.is-active {
        background: url(../img/fill-star.png);
    }
}

.brand__img-link {
    width: 151px;
    &_hooli {
        width: 153px;
        height: 34px;
        padding: 0 25px;
    }
    &_lyft {
        width: 146px;
        height: 59px;
        padding: 0 31px;
    }
    &_pied {
        width: 152px;
        height: 75px;
        padding: 0 25px;
    }
    &_stripe {
        height: 42px;
        padding: 0 24px;
    }
    &_aws {
        height: 62px;
        padding: 0 23px;
    }
    &_reddit {
        height: 72px;
        padding: 0 37px;
    }
}



.btn-form__email {
    max-width: 450px;
    width: 100%;
}

.email-form {
    display: flex;
    border-radius: 5px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    &__input {
        width: 100%;
        border: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
    }
}

// pricing styles start
.pricing {
    text-align: center;
    &__desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
        margin-top: 10px;
        margin-bottom: 80px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
    }
}

.card {
    margin-top: 40px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #23A6F0;
    border-radius: 10px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    font-weight: 700;
    padding: 50px 36px;
    &__desc {
        margin: 35px auto;
        max-width: 165px;
        width: 100%;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #737373;
    }
    &__prise {
        margin-top: 35px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        color: #23A6F0;
    }
    &__cost {
        font-size: 40px;
        line-height: 57px;
    }
    &__element {
        text-align: left;
    }
    &__value {
        font-size: 16px;
        letter-spacing: 0.1px;
    }
    &__time {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #8EC2F2;
    }
    &__option-wrap {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__list {
        text-align: left;
        margin-top: 35px;
    }
    &__select {
        width: 32px;
        height: 32px;
        background: #BDBDBD;
        border-radius: 200px;
        position: relative;
        & svg {
            position: absolute;
            top: 9px;
            left: 7px;
        }
        &.is-active {
            background: #2DC071;
        }
    }
    &__option-wrap {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        margin-top: 35px;
    }
    &_color {
        margin-top: 0;
        background: #252B42;
        color: #fff;
        padding-top: 70px;
        padding-bottom: 70px;
        & .title {
            color: #fff;
        }
        & .card__desc {
            color: #fff;
        }
    }
}
