*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.header__logo {
  margin-right: 76px;
  color: currentColor;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.wrap {
  max-width: 1046px;
  width: 100%;
  margin: 0 auto;
}
.wrap_header {
  max-width: 1080px;
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #FFFFFF;
}
.wrap_features {
  margin-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 31px;
}
.wrap_review {
  padding: 112px 16px;
  margin-bottom: 85px;
  text-align: center;
}
.wrap_brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 58px;
}
.wrap_btn-form {
  max-width: 1047px;
  background: linear-gradient(to right, #004788, #D71489);
  padding: 30px 41px 30px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 240px;
  margin-bottom: 132px;
}
.wrap_pricing {
  max-width: 990px;
}

.nav {
  margin-right: 227px;
}
.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 21px;
  list-style-type: none;
}
.nav__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: currentColor;
}

.login {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
}
.login__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.2px;
}

.btn {
  background-color: #23A6F0;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 21px 15px 25px;
}
.btn:hover {
  background-color: #08507a;
}
.btn_login {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-right: 21px;
}
.btn__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.2px;
}
.btn__icon {
  width: 12px;
  height: 10px;
  display: inline-block;
  background: url("../img/Vector.png") no-repeat center right;
}
.btn_email-form {
  padding: 15px 22.5px;
  background-color: #23A6F0;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  border-radius: 0;
}
.btn_card {
  padding: 15px 82px;
  display: block;
}
.btn_booking {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
}

.section {
  position: relative;
}
.section_hero {
  padding-top: 226px;
  padding-bottom: 105px;
  background: url("../img/herobg.jpg") no-repeat center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
}
.section_btn-form .title {
  color: #fff;
}
.section_booking {
  margin-top: 112px;
  background: #252B42;
  position: relative;
  padding-bottom: 479px;
}

.hero-desc {
  max-width: 701px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 120px;
  text-align: center;
}
.hero-desc__text {
  max-width: 539px;
  margin: 40px auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.hero-desc__btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.title {
  color: #252B42;
  font-style: normal;
}
.title_big {
  color: #fff;
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
.title_medium {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
}
.title_small {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}

.btn__link {
  padding: 15px 36px;
  border-radius: 37px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: transparent;
}
.btn__link:hover {
  background: #23A6F0;
  border: none;
}

.hero-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: -115px;
}

.block {
  background: #fff;
  color: #252B42;
  padding: 35px 67px 35px 40px;
  max-width: 328px;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.block__title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.block__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.block:hover {
  background: #23A6F0;
  color: #FFFFFF;
}

.block:hover .block__logo-svg #logo-svg {
  fill: #FFF;
}

.features-content {
  margin-top: 176px;
  max-width: 328px;
  width: 100%;
  text-align: center;
  padding: 40px 45.5px;
}
.features-content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-top: 30px;
}
.features-content__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
}

.review__title {
  margin-bottom: 10px;
}
.review__desc {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
}

.review-row {
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  justify-content: center;
  max-width: 1013px;
  width: 100%;
  margin: 80px auto 0;
}

.review-block {
  max-width: 295px;
  width: 100%;
  padding: 40px 35px;
  border: 1px solid #DEDEDE;
}
.review-block__img {
  width: 149px;
  height: 149px;
  margin: 0 auto;
}
.review-block__text {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.rating {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  max-width: 131px;
  width: 100%;
  margin: 0 auto;
}
.rating__item {
  width: 22px;
  height: 22px;
  background: url(../img/empty-star.png);
}
.rating__item.is-active {
  background: url(../img/fill-star.png);
}

.brand__img-link {
  width: 151px;
}
.brand__img-link_hooli {
  width: 153px;
  height: 34px;
  padding: 0 25px;
}
.brand__img-link_lyft {
  width: 146px;
  height: 59px;
  padding: 0 31px;
}
.brand__img-link_pied {
  width: 152px;
  height: 75px;
  padding: 0 25px;
}
.brand__img-link_stripe {
  height: 42px;
  padding: 0 24px;
}
.brand__img-link_aws {
  height: 62px;
  padding: 0 23px;
}
.brand__img-link_reddit {
  height: 72px;
  padding: 0 37px;
}

.btn-form__email {
  max-width: 450px;
  width: 100%;
}

.email-form {
  display: flex;
  border-radius: 5px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
}
.email-form__input {
  width: 100%;
  border: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.pricing {
  text-align: center;
}
.pricing__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
  margin-bottom: 80px;
}
.pricing__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.card {
  margin-top: 40px;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #23A6F0;
  border-radius: 10px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
  font-weight: 700;
  padding: 50px 40px;
}
.card__desc {
  margin: 35px auto;
  max-width: 165px;
  width: 100%;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}
.card__prise {
  margin-top: 35px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #23A6F0;
}
.card__cost {
  font-size: 40px;
  line-height: 57px;
}
.card__element {
  text-align: left;
}
.card__value {
  font-size: 16px;
  letter-spacing: 0.1px;
}
.card__time {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #8EC2F2;
}
.card__option-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card__option {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.card__list {
  text-align: left;
  margin-top: 31px;
}
.card__select {
  width: 32px;
  height: 32px;
  background: #BDBDBD;
  border-radius: 200px;
  position: relative;
}
.card__select svg {
  position: absolute;
  top: 9px;
  left: 7px;
}
.card__select.is-active {
  background: #2DC071;
}
.card__option-wrap {
  margin-bottom: 15px;
}
.card__option-wrap:last-child {
  margin-bottom: 0;
}
.card__link {
  margin-top: 35px;
}
.card_color {
  margin-top: 0;
  background: #252B42;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}
.card_color .title {
  color: #fff;
}
.card_color .card__desc {
  color: #fff;
}

.booking {
  text-align: center;
}
.booking__holder {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.booking .title_medium {
  color: #FFFFFF;
}
.booking__desc {
  max-width: 455px;
  width: 100%;
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}
.booking__card {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  max-width: 877px;
  width: 100%;
  position: absolute;
  left: 272px;
  bottom: 0;
  margin-bottom: -280px;
}
.booking__box {
  padding: 40px 50px;
  max-width: 610px;
  width: 100%;
}
.booking__form {
  text-align: left;
  margin-top: 40px;
}
.booking__form .btn_booking {
  margin-top: 40px;
  width: 100%;
}
.booking__item {
  margin-bottom: 10px;
}
.booking__item:last-of-type {
  margin-bottom: 0;
}
.booking__input-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 10px;
}
.booking__input {
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 21px;
  max-width: 507px;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */