*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
}

.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    &__logo {
        margin-right: 76px;
        color: white;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        &_black {
            margin-right: 0;
        }
    }
    &__login {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 46px;
        margin-left: auto;
    }
    &__login-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.2px;
    }
}

.section {
    position: relative;
    &_hero {
        padding-top: 226px;
        padding-bottom: 96px;
        background: url('../img/herobg.jpg') no-repeat center / auto,
            rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    }
    &_brand {
        margin-top: 134px;
    }
    &_subscribe {
        margin-top: 71px;
        .title {
            color: #fff;
        }
    }
    &_booking {
        margin-top: 112px;
        background: #252B42;
    }
}

.wrap {
    max-width: 1046px;
    width: 100%; 
    margin: 0 auto;
    &_header {
        max-width: 1080px;
        padding-top: 21px;
        padding-left: 16px;
        padding-right: 23px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: #FFFFFF;
    }
    &_mobile {
        display: none;
    }
    &_features {
        margin-top: 300px;
        margin-bottom: 96px;
    }
    &_review {
        padding: 112px 16px;
        margin-bottom: 85px;
    }
    &_subscribe {
        max-width: 1047px;
    }
    &_booking {
        position: relative;
        padding-bottom: 479px;
    }
    &_footer {
        max-width: 1051px;
        width: 100%;
        padding-right: 36px;
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 22px;
        list-style-type: none;
    }
    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        text-decoration: none;
        color: currentColor;
    }
}

.btn {
    background-color: #23A6F0;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 21px 15px 25px;

    &:hover {
        background-color: #08507a;
    }
    &_hero {
        display: inline-block;
        padding: 15px 36px;
        border-radius: 37px;
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.2px;
        border: 1px solid #FFFFFF;
        background: transparent;
        margin-right: 5px;

        &:hover {
            background: #23A6F0;
            border: none;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &_header {
        display: flex;
        align-items: center;
        gap: 17px;
        padding-right: 22px;
        padding-top: 13px;
        padding-bottom: 15px;
    }
    &__name {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.2px;
    }

    &__icon {
        width: 12px;
        height: 10px;
        display: inline-block;
        background: url('../img/Vector.png') no-repeat center right;
    }
    &_card {
        display: block;
        padding: 14px 21px 14px 25px;
    }
    &_footer {
        padding: 15px 40px;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.btn-submit {
    background-color: #23A6F0;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 21px 15px 25px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;

    &:hover {
        background-color: #08507a;
    }
    &_email {
        padding: 15px 28px 15px 23px;
        font-weight: 400;
        line-height: 28px;
        border-radius: 0;
    }
    &_booking {
        font-weight: 700;
        line-height: 22px;
        margin-top: 33px;
        width: 100%;
    }
}


.hero {
    &__desc {
        max-width: 701px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 120px;
        text-align: center;
    }
    &__text {
        margin: 39px auto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        padding-right: 2px;
    }
    &__box {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        position: absolute;
        bottom: 0;
        margin-bottom: -108px;
    }
}

.title {
    color: #252B42;
    font-style: normal;
    &_big {
        color: #fff;
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
    }
    &_medium {
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
        letter-spacing: 0.2px;
    }
    &_small {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
    }
    &_minimal {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252B42;
    }
}

.block {
    background: #fff;
    color: #252B42;
    padding: 35px 63px 37px 41px;
    max-width: 328px;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    &__title {
        margin-top: 7px;
        margin-bottom: 10px;
        line-height: 29px;
    }
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.2px;
        color: #737373;
    }
}

.block:hover {
    background: #23A6F0;
    color: #FFFFFF;
}

.block:hover .block__logo-svg #logo-svg{
    fill: #FFF;
}

// Features styles start
.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 31px;
    &__content {
        max-width: 328px;
        width: 100%;
        text-align: center;
        padding: 40px 45.5px;
    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        color: #252B42;
        margin-top: 26px;
    }
    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
        margin-top: 10px;
    }
}

.review {
    text-align: center;
    &__title {
        margin-bottom: 10px;
    }
    &__desc {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
        margin: 0 auto;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        gap: 63px;
        justify-content: center;
        max-width: 1013px;
        width: 100%;
        margin-top: 80px;
    }
}



.unit {
    max-width: 295px;
    width: 100%;
    padding: 38px 38px 40px 38px;
    border: 1px solid #DEDEDE;
    &__img {
        width: 149px;
        height: 149px;
        margin: 0 auto;
    }
    &__text {
        margin-top: 29px;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
    }
}

.rating {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    max-width: 131px;
    width: 100%;
    margin: 0 auto;
    &__item {
        width: 22px;
        height: 22px;
        background: url(../img/empty-star.png);
    }
    &__item.is-active {
        background: url(../img/fill-star.png);
    }
}

.brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__img-link {
       width: 151px;
    
       &_hooli {
           width: 153px;
           height: 34px;
           padding: 0 27px 0 25px;
       }
    
       &_lyft {
           width: 146px;
           height: 59px;
           padding: 0 31px 0 31px;
       }
    
       &_pied {
           width: 152px;
           height: 75px;
           padding: 0 25px 0 25px;
       }
    
       &_stripe {
           height: 42px;
           padding: 0 20px 0 26px;
           width: 148px;
       }
    
       &_aws {
           height: 62px;
           padding: 0 18px 0 27px;
       }
    
       &_reddit {
           height: 72px;
           padding: 0 32px 0 42px;
       }
    }
}

.subscribe {
    background: linear-gradient(to right, #004788, #D71489);
    padding: 32px 41px 28px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 246px;
    margin-bottom: 132px;
    &__email {
        max-width: 450px;
        width: 100%;
    }
}

.email {
    display: flex;
    border-radius: 5px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    &__input {
        width: 100%;
        border: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        padding-top: 14px;
        padding-bottom: 12px;
        padding-left: 20px;
        letter-spacing: 1.3px;
    }
}

// pricing styles start
.pricing {
    text-align: center;
    &__desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
        margin-top: 10px;
        margin-bottom: 80px;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        justify-content: center;
    }
}

.card {
    margin-top: 40px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #23A6F0;
    border-radius: 10px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    font-weight: 700;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    &__desc {
        margin: 35px auto;
        max-width: 165px;
        width: 100%;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #737373;
    }
    &__prise {
        margin-top: 35px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        color: #23A6F0;
    }
    &__cost {
        font-size: 40px;
        line-height: 57px;
    }
    &__element {
        text-align: left;
    }
    &__value {
        font-size: 16px;
        letter-spacing: 0.1px;
    }
    &__time {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #8EC2F2;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
    }
    &__option {
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 0.2px;
    }
    &__list {
        text-align: left;
        margin-top: 31px;
    }
    &__select {
        width: 32px;
        height: 32px;
        background: #BDBDBD;
        border-radius: 200px;
        position: relative;
        & svg {
            position: absolute;
            top: 12px;
            left: 7px;
        }
        &.is-active {
            background: #2DC071;
        }
    }
    &__link {
        margin-top: 35px;
    }
    &_color {
        margin-top: 0;
        background: #252B42;
        color: #fff;
        padding-top: 70px;
        padding-bottom: 70px;
        & .title {
            color: #fff;
        }
        & .card__desc {
            color: #fff;
        }
    }
    &_small {
        max-width: 327px;
        width: 100%;
    }
    &_big {
        max-width: 329px;
        width: 100%;
    }
}

.booking {
    text-align: center;
    &__holder {
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: start;
    }
    & .title_medium {        
        color: #FFFFFF;
    }
    &__desc {
        max-width: 455px;
        width: 100%;
        margin-top: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    &__card {
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        max-width: 877px;
        width: 100%;
        position: absolute;
        left: 85px;
        bottom: 0;
        margin-bottom: -283px;
    }
    &__card-pic_mobile {
        display: none;
    }
    &__box {
        padding: 40px 50px;
        max-width: 610px;
        width: 100%;
        & .title_small {
            font-size: 23px;
        }
    }
    &__form {
        text-align: left;
        margin-top: 40px;
    }
    &__item {
        margin-bottom: 10px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__input-name {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #252B42;
        margin-bottom: 10px;
    }
    &__input {
        background: #F9F9F9;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 21px;
        max-width: 507px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: #737373;
    }
    & select {
        padding-top: 18px;
        padding-bottom: 11px;
        padding-left: 15px;
    }
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    &_phone {
        background: url(../img/phone.png);
    }
    &_maps {
        background: url(../img/maps.png);
        height: 30px;
    }
    &_mail {
        background: url(../img/mail.png);
        width: 26px;
    }
}

.footer {
    margin-top: 455px;
    margin-bottom: 50px;
    &__subtitle {
        margin-top: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #737373;
    }
    &__holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 90px;
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__column{
        .title {
            margin-bottom: 20px;
        }
        &_company {
            padding-right: 31px;
        }
        &_legal {
            padding-right: 52px;
        }
        &_features  {
             padding-right: 1px;
         }
        &_resourses {
             padding-right: 42px;
         }
        &_get {
             padding-right: 0;
         }
        
    }
    &__list {
        list-style-type: none;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__item-link {
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #737373;
        &_contact {
            display: flex;
            gap: 1px;
            align-items: center;
            text-decoration: none;
            margin-bottom: 10px;
        }
    }
    &__contact {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #737373;
    }
    &__social-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 67px;
        padding-right: 6px;
    }
    &__social-text {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #737373;
    }
    &__social-pictures{
        display: flex;
        gap: 20px;
    }
    &__social-img_mobile {
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    .section_hero {
        background-size: cover;
    }
    .hero__box {
        position: static;
        gap: 2px;
        margin-bottom: -184px;
    }
    .wrap {
        &_features {
            margin-top: 150px;
        }
        &_review {
            padding-top: 50px;
        }
        &_booking {
            padding-left: 40px;
            padding-right: 40px;
        }
        &_footer {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .features {
        gap: 5px;
    }
    .review__row {
        gap: 5px;
    }
    .subscribe {
        gap: 0;
        justify-content: space-between;
    }
    .pricing__cards {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .card_color {
        margin-top: 40px;
    }
    .booking__card {
        position: static;
    }
    .booking__desc-wrap {
        margin-bottom: 50px;
    }
    .footer {
        margin-top: 100px;
        &__social-img {
            display: none;
        }
        &__social-img_mobile {
            display: block;
        }
    }
}

@media screen and (max-width: 1023px) {
    .hero__box {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .features {
        flex-direction: column;
        align-items: center;
    }
    .brand {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        justify-items: center;
    }
    .booking {
        &__holder {
            justify-content: center;
        }
        &__card {
            justify-content: center;
        }
        &__card-pic {
            display: none;
        }
        &__card-pic_mobile {
            display: block;
        }
    }
    .footer__menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        &__logo.is-active {
            color: #252B42;
        }
        &.is-active {
            background-color: #fff;
            height: 100vh;
        }
    }

    .wrap {
        &_header {
            display: none;
        }

        &_mobile {
            display: block;
        }
        &_pricing {
            padding: 0 40px;
        }
    }
            
    .nav-mobile {
        display: none;

        &.is-active {
            display: block;
        }

        &__list {
            text-align: center;
        }

        &__link {
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #737373;
        }
    }
    .logo-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 37px 30px 0px 36px;
    
        &__list {
            display: flex;
            align-items: center;
        }
    
        &__item {
            list-style-type: none;
        }
    }
    .icon {
        width: 24px;
        height: 24px;
        &_search {
            background: url(../img/search.png);
            margin-right: 24px;
        }
        &_basket {
            background: url(../img/basket.png);
            height: 22px;
            margin-right: 32px;
        }
        &_burger {
            background: url(../img/menu.png) no-repeat;
            height: 14px;
        }
    }
}

@media screen and (max-width: 768px) {
    .booking__desc-wrap {
        text-align: center;
    }
    .brand {
        display: flex;
        flex-direction: column;
        gap: 60px;
        }
    .footer {
        &__holder {
            text-align: center;
        }
        &__menu {
            display: flex;
            gap: 30px;
        }
    }
    .btn_footer {
        margin: 5px auto;
    }
}

@media screen and (max-width: 416px) {

    .section, .footer {
        padding-right: 20px;
        padding-left: 20px;
    }
    .section {
        &_hero {
            background-size: cover;
            padding-bottom: 250px;
        }
        &_brand {
            margin-top: 80px;
        }
        &_booking {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    .wrap {
        &_features {
            margin-top: 0;
        }
        &_review {
            padding-top: 10px;
        }
        &_subscribe {
            margin-bottom: 45px;
        }
        &_booking {
            padding-bottom: 293px;
        }
    }

    .title {
        color: #252B42;
        font-style: normal;
        &_big {
            color: #fff;
            font-weight: 700;
            font-size: 39px;
            line-height: 57px;
            letter-spacing: 0.2px;
            text-transform: capitalize;
        }
    }

    .hero {
        &__desc {
            .title {
                padding-right: 34px;
                padding-left: 34px;
            }
        }
        &__text {
            max-width: 279px;
            width: 100%;
        }
        &__btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
        }
    }

    .subscribe {
        gap: 30px;
        text-align: center;
    }

    .pricing {
        &__desc {
            max-width: 271px;
            width: 100%;
            margin: 0 auto 60px;
        }
        & .card_big {
            margin-top: 40px;
        }

    }

    .booking {
        &__holder {
            margin-bottom: 110px;
            padding-left: 42px;
            padding-right: 42px;
            padding-top: 120px;
        }
        &__desc-wrap {
            margin-bottom: 120px;
        }
        &__card-pic {
            display: none;
        }
        &__card-pic_mobile {
            display: block;
        }
    }

    .footer {
        margin-top: 40px;
        &__subtitle {
            margin-bottom: 50px;
        }
        &__menu {
            flex-direction: column;
        }
        &__social-row {
            gap: 50px;
        }
        &__social-pictures {
            align-items: baseline;
        }
    }

}

@media screen and (max-width: 359px) {
    .wrap {
        &_footer {
            padding-left: 0;
        }
    }
    .icon {
        margin-right: 0;
    }
    .email {
        flex-wrap: wrap;
    }
    .btn-submit_email {
        width: 100%;
    }
    .card__select svg {
        left: 0px;
    }
}