*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    position: absolute;
    width: 100%;
}

.wrap {
    width: 100%; 
    margin: 0 auto;
    &_header {
        max-width: 1080px;
        padding-top: 33px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: #FFFFFF;
    &_hero {
        max-width: 1045px;
    }
    }
}

.logo {
    margin-right: 76px;
    color: currentColor;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;    
    letter-spacing: 0.1px;
}

.nav {
    margin-right: 227px;
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 21px;
        list-style-type: none;
    }
    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        text-decoration: none;
        color: currentColor;
    }
}

.login {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.2px;
    }
}

.btn {
    background-color: #23A6F0;
    border-radius: 5px;
    color: currentColor;
    text-decoration: none;
    padding: 15px 21px 15px 25px;
    &:hover {
        background-color: #08507a;
    }
    &_login {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-right: 21px;
        }
    &__name {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        letter-spacing: 0.2px;
    }
    &__icon {
        width: 12px;
        height: 10px;
        display: inline-block;
        background: url('../img/Vector.png') no-repeat center right;
    }
}

.section {
    &_hero {
        padding-top: 226px;
        background: url('../img/herobg.jpg') no-repeat center / cover,
        rgba(0, 0, 0, 0.5);
        background-blend-mode: darken;
    }
}

.hero-desc {
    max-width: 701px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    &__text {
        max-width: 539px;
        margin: 40px auto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    &__btns {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}

.title {
    color: #252B42;
    font-style: normal;
    &_big {
        color: #fff;
        font-weight: 800;
        font-size: 58px;
        line-height: 80px;
        letter-spacing: 0.2px;
        text-transform: capitalize;
    }
}

.btn__link {
    padding: 15px 36px;
    border-radius: 37px;
    background: #23A6F0;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    &_accent {
        border: 1px solid #FFFFFF;
        background: transparent;
    }
}

.hero-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 120px;
}

.block {
    background: #fff;
    color: #252B42;
    padding: 35px 75px 35px 40px;
    max-width: 328px;
    width: 100%;
    &__logo {

    }
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
    }
}

.block:hover {
    background: #23A6F0;
    color: #FFFFFF;

}